@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle{
    border-left: 15px solid;
    border-top: 40px solid transparent;
    border-bottom: 0px transparent;
    position: absolute;
}

